auditree-framework @ git+https://github.com/ComplianceAsCode/auditree-framework.git
auditree-arboretum ~= 0.17
auditree-prune @ git+https://github.com/ComplianceAsCode/auditree-prune.git
auditree-plant @ git+https://github.com/rahearn/auditree-plant.git
compliance-to-policy ~= 0.4
