{#- -*- mode:jinja2; coding: utf-8 -*- -#}

# {{ test.title }} Report {{ now.strftime('%Y-%m-%d') }}

{% if test.total_issues_count(results) == 0 %}
  **No Space SSH issues to report**
{% else %}
{% if test.failures_for_check_count(results) > 0 -%}
{% for section_heading, failures in all_failures.items() -%}
## {{ section_heading }}

{% for failure in failures: %}
- Space `{{ failure['space'] }}` in Org `{{ failure['org'] }}` has ssh access enabled
{% endfor %}

{%- endfor -%}
{% endif -%}
{% endif -%}
